<!DOCTYPE html>
<html>
<head>
    <title>editro</title>
    {% load static from staticfiles %}
    <script type="text/javascript" src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
    <script type="text/javascript">
        tinyMCE.init({
            'mode':'textareas',
            'theme':'advanced',
            'width':400,
            'height':100
        });
    </script>
</head>
<body>
<form method="post" action="{% url 'booktest:editor_handle' %}">
	{% csrf_token %}
    <select name="select">
    	{% for index,item in data %}
    	<option value="{{index}}">{{item}}</option>
    	{% endfor %}
    </select>
    <br>
    <textarea name='hcontent'>哈哈，这是啥呀</textarea>
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>